*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
  }
body{
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
}
.head{
  text-align: center;
  font-size: 2rem;
  color: #FF0000E8;
  background: #FBD039DE;
}
.btn{
  padding: 10px;
  color: #0E77FF;
  border-radius: 10px;
  font-size: 1.3rem;
  border: 3px double #0EFBFF;
}
.btn:hover{
  background: #0E77FF;
    transition: 0.4s 0.9ms ease-in;
    color: #fff
}
.container{
  display: flex;
  flex-direction: column;
}
label{
  font-size: 25px;
  color: #30D9FFE8;
}
.result{
  width: 100%;
  height: 30%;
  background: #E1E1E1;
  margin-top: 20px;
  border-radius: 10px;
  user-select: none;
  font-size: 1rem;
  text-align: center;
  position: relative;
}
textarea{
  border: 2px solid #000000;
  font-size: 20px;
  width: 97%;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  margin-top: 10px;
  border-radius: 5px;
  margin-left: 1.5%;
  padding: 5px;
}
textarea:focus{
  border: 2px solid #0382FF;
}
.copy{
  float: right;
  padding: 10px;
  background: #00000000;
width: 35px;
border: none;
height: 35px;
}
.copy:hover{
 color: #22CDFF;
 transition: 0.4s 0.1s linear
}
.clear{
  font-size: 2rem;
  background: transparent;
  border: none;
  position: absolute;
  right: 3%;
  top: 65%;
  color: #08A2FF;
}
.clear:hover{
  color: #FF0000;
}
.select{
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(4,auto)
}
.top{
  position: relative;
}
.result-text{
  word-spacing: 3px;
  overflow-y: auto;
  height: 100px;
  width: 90%;
  margin:  auto;
}
.footer{
  position: relative;
  bottom: 0;
  text-align: center;
  background: #A1A1A1;
  width: 100%;
  height: auto;
  color: #0093FCF0;
}
.social{
  width: 100%;
}
.pic{
  width: 50px;
  margin-left: 10px;
}
#copyright {
  background: #E2BEBE;
 margin-top: 15px;
 font-size: 1rem
}
.follow{
  color: #FFED00;
  padding: 5px;
  font-size: 1.1rem
}
header{
  background: #9F9F9F;
  width: 100%;
 color: #00FFF4;
}
.logo{
  margin-left: 10px;
  font-size: 2.4rem;
  -webkit-text-stroke: 2px #FFFC00;
  color: #01B9FF;
  font-family: "Sevillana",cursive
}
.sign-in{
 background: transparent;
  color: #FFFF00;
  border: 2px solid #0FF2FF;
 padding: 5px;
  border-radius: 9px;
  transition: 0.4s 0.1s ease-out;
  font-size: 1rem;
}
.sign-in:hover{
  background: #0F86FF;
}
.Header{
  width: 100%;
  display: flex;
  justify-content: space-around
}
.more{
  text-decoration: none;
  font-size: 30px;
  color: black;
  margin-top: 5px;
  display: inline-block;
}
   .div-switch{
  height: 60px;
  width: 40%;
  background: #2D2D2D;
  display: none;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 6px;
  color: #fff;
  transition: all 0.4s linear;
  animation: fade-in 0.4s linear
   }
.cross{
    color: #fff; 
    background: #FFFFFF00;
    border: none;
    padding: 10px;
    font-size: 26px;
    margin-bottom: 39px;
    transform: translateX(115px)
}
.div-switch #toggle-switch{
  display: none
}
.div-switch .switch{
  width: 90px;
  height: 15px;
  background: #CACACA;
  border-radius: 20px;
  position: relative;
  transition: all 0.4s linear;
  margin-right: 20px
}
.div-switch .switch::after{
  content: "";
  width: 21px;
  height: 21px;
  background: #FFFFFF;
  position: absolute;
  border-radius: 50%;
 transition: 0.4s all linear;
 transform: translateY(-3px)
}
 #toggle-switch:checked + .switch{
  background: #82C9FF
}
#toggle-switch:checked + .switch::after{
  background: #2DB0FF;
  transform: translate(30px,-3px)
}
.div-switch .dark{
  font-size: 0.9rem;
  width: 50%;
  display: inline-block;
}
.more-content{
  display: flex;
  transition: all 0.4s linear;
  align-items: center;
  justify-content: center;
}
@keyframes fade-in{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.done{
  background: #5C5656;
  position: absolute;
  top: -17%;
 right: 0;
 border-radius: 4px;
 color: #FFFFFF;
 visibility: hidden;
 transition: 0.4s 0.1s linear;
 width: 20%;
 animation: fade-in 0.4s 0.1s linear
}
.show:hover ~ .done{
 visibility: visible;
 transition: 0.4s 0.1s linear;
  }
.radio{
      width: 25px;
      height: 25px;
      display: inline-block;
      position: relative;
      border-radius: 50%;
      border: 1px solid #BBBBBB;
    transition: all 0.4s linear;
    margin-top: 5px
    }
    .radio::after{
      content: "";
      width: 11px;
      height: 11px;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: 6px;
      right: 6px;
      background: #DDDDDD;
      transition: all 0.4s linear
    }
    .Radio:checked + .radio::after{
      background: #fff
    }
    .Radio{
      display: none
    }
    .Radio:checked + .radio{
      background: #077AFF;
      border: 1px solid #077AFF
    }
.Radio:checked ~ .radio{
  box-shadow: 3px 3px 2px #79D0FF,3px -3px 2px #79D0FF,-3px -3px 2px #79D0FF, -3px 3px 2px #79D0FF;
}
.logo::selection{
  color: #FFF901;
  -webkit-text-stroke: 2px #01B9FF
}